/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}
  .header {
    width: 100%;
    height: 100px;
    position: absolute;
    border-bottom: 1px solid grey;
    font-size: 15px;
  }

  .header #logo {
    padding-left: 50px;
    padding-top: 10px;
  }

  .header #logo img{
    width: 85px;
  }

  .header #help, #user {
    padding-top: 33px;
  }

  .header #help i, #user i {
    padding-left: 10px;
  }

  .header #help .btn-group, .btn-group-vertical {
    padding-left: 120px;
  }

  .header #help .btn {
    padding: 0px 3px;
    font-size: 15px;
  }

  .header #help .btn-danger{
    color: #333;
    background-color:#FFFFFF;
    border:none;
  }

  .header #help .dropdown-menu {
    margin: 2px 10px 0px;
  }

  .body #navbar {
    position: absolute;
    top: 100px;
    left: 1000px;
  }

  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #333;
    background-color:#FFFFFF;
    border-top: 4px solid #E86417;
  }

  .nav-pills>li>a {
    font-weight: 500;
    font-size: 16px;
    border-radius:0px;
    color: #333;
    width: 150px;
    padding-left: 31px;
  }

  .nav-pills>li:last-child {
    padding-top: 4px;
  }

  #filter {
    position: absolute;
    top: 150px;
  }

  #filter ul, .candidatesBody ul {
    list-style: none;
  }

  #filter ul:last-child {
    margin-top: 3%;
  }

  #filter ul li {
    float: left;
    width: 20%;
  }

  #filter ul li input {
    width: 90%;
  }

  #filter .checkbox {
    margin-top: 10px;
  }

  #filter .checkbox input{
    margin-left: 5%;
  }

  #filterHead {
    position: absolute;
    top: 235px;
    width: 100%;
    border-bottom: 1px solid grey;
  }

  #filterHead h3 {
    margin-left: 40px;
    margin-bottom: -24px;
  }

  #filterHead button, #filterHead .currentdate {
    float: right;
    font-size: 16px;
  }

  #filterHead button {
    margin-right: 2%;
    margin-bottom: 2px;
  }

  #filterHead .btn-info {
    color: black;
    background-color: #fff;
    border-color: #fff;
  }

  #filterHead button .btn-group-lg>.btn, .btn-lg {
    padding: 0px 0px;
  }

  #filterHead .currentdate {
    margin-left: 2%;
    margin-right: 2%;
  }

  #filterResults {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 300px;
    direction:rtl;
    overflow-y: scroll;
  }

  #filterResults table {
    width: 27%;
    float: left;
    margin-left: 5%;
  }

  #filterResults table> thead> tr> th> i:first-child {
    margin-left: 50%;
  }

  #filterResults table> thead> tr> th> i:last-child {
    margin-left: 4%;
  }

  #filterResults table, th, td {
    direction:ltr;
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 5px;
    text-align: left;
  }

  .candidatesHead{
    font-weight: 500;
  }

   .candidatesHead button {
    margin-left: 2%;
    margin-right: 2%;
  }

  .candidatesHead button:nth-child(3) {
    margin-right: 30%;
  }

  .candidatesHead input {
    margin-left: 2%;
    margin-right: 5%;
  }

  .candidatesBody ul li input {
    float: right;
    width: 70%;
  }

  .candidatesBody .list-group-item {
    border:none;
  }

 .newcurrentdate {
    float: right;
  }

  .modal-footer button:last-child {
    color: white;
    background-color: orange;
  }
