<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="styles/main.css">
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
  </head>
  <body ng-app="toolsApp">
    <div class="header">
            <div id="logo" class="col-md-8"><img src="images/PwClogo.png"></div>
            <div id="help" class="col-md-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger">Help</button>
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                    </ul>
                </div>
            </div>
            <div id="user" class="col-md-2">
                <p>User Name<i class="fa fa-user"></i></p>
            </div>
    </div>

    <div class="body" ng-controller="MainCtrl">
        <div id="navbar">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="index.html">TRACKING</a></li>
                <li role="presentation"><a href="#">DASHBOARD</a></li>
            </ul>
        </div>
        <div id="filter">
            <ul>
                <li>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">NAME</span>
                      <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    </div>
                </li>
                <li>DATE
                    <select id="year"><option ng-repeat="y in years">{{y}}</option></select>
                    <select id="month"><option ng-repeat="m in months">{{m}}</option></select>
                </li>
                <li>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon2">POSITION</span>
                      <input type="text" class="form-control" aria-describedby="basic-addon2">
                    </div>
                </li>
                <li>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon3">WORKING YEARS</span>
                      <input type="number" class="form-control" aria-describedby="basic-addon3">
                    </div>
                </li>
                <li>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon4">KEY WORDS</span>
                      <input type="text" class="form-control" aria-describedby="basic-addon4">
                    </div>
                </li>
            </ul>
            <ul>
                <li class="checkbox">PASS<input type="checkbox"></input></li>
                <li class="checkbox">REJECT<input type="checkbox"></input></li>
                <li>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon5">INTERVIEWER</span>
                      <input type="text" class="form-control" aria-describedby="basic-addon5">
                    </div>
                </li>
                <li>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon6">SKILLS </span>
                      <input type="text" class="form-control" aria-describedby="basic-addon6">
                    </div>
                </li>
            </ul>
        </div>

        <div id="filterHead">
            <h3>FILTER RESULTS</h3>
            <div class="currentdate">{{date | date:'yyyy-MM-dd'}}</div>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#export">EXPORT PDF</button>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#new">CREATE NEW</button>
        </div>

        <div class="modal fade" id="new" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <div class="newcurrentdate">{{date | date:'yyyy-MM-dd'}}</div>
                        <h4 class="modal-title">CREATE NEW CANDIDATES</h4>
                    </div>
                    <div class="modal-body">
                        <div class="candidatesHead">
                            Round
                            <button>1</button>
                            <button>2</button>
                            <button>3</button>
                            Pass<input type="checkbox"></input>
                            Reject<input type="checkbox"></input>
                        </div>
                        <div class="candidatesBody">
                            <ul class="list-group">
                                <li class="list-group-item">Name<input type="text"></input></li>
                                <li class="list-group-item">Interviewer<input type="text"></input></li>
                                <li class="list-group-item">Suggest Position<input type="text"></input></li>
                                <li class="list-group-item">Working Year<input type="text"></input></li>
                                <li class="list-group-item">Skills<input type="text"></input></li>
                                <li class="list-group-item">Working Experiences<input type="text"></input></li>
                                <li class="list-group-item">Strength<input type="text"></input></li>
                                <li class="list-group-item">Weakness<input type="text"></input></li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                    </div>
                </div>

            </div>
        </div>

        <div id="filterResults">
            <table>
                <thead>
                    <tr>
                        <th>
                            Name Blackwood
                            <i class="fa fa-wrench"></i>
                            <i class="fa fa-calendar"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Suggest Position:</td></tr>
                    <tr><td>Working Year:</td></tr>
                    <tr><td>Working Experience:</td></tr>
                    <tr><td>Skill:</td></tr>
                </tbody>
            </table>
        </div>
    <!-- <div ng-include="'views/main.html'" ng-controller="MainCtrl"></div> -->
    </div>

    <div class="footer">
      <div class="container">

      </div>
    </div>

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
</body>
</html>
